.order_wrap {
    padding: 20px 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.order_title {
    text-align: center;
    color: #A974E8;
}

.order li {
    border-bottom: 1px solid #000;
    padding: 2rem 0 2rem 0.2rem;
    display: -webkit-box;
    display: flex;
    font-size: 1.4rem;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
} 

.order_count {
    flex-basis: 10%;
}

.order_name {
    flex-basis: 50%;
}

.order_price {
    flex-basis: 30%;
    margin: 0 0.2em;
}

.cansel_btn {
    flex-basis: 10%;
    border: 0;
    font-size: 1.2em;
    display: inline;
    line-height: 1;
    padding: 0 4px;
    background: transparent;
    color: #f00;
    cursor: pointer;
}

.order_empty {
    margin-top: 5em;
    text-align: center;
    color: #777777;
}

/*Animation*/

.order-enter {
    transition: 0.6s;
    transform: translateX(-20%);
}

.order-enter.order-enter-active {
    transform: translateX(0);
}

.order-exit {
    transition: 0.5s;
    transform: translateX(0);
}

.order-exit.order-exit-active {
    transform: translateX(120%);
}
    
.count-enter {
    transition: 0.5s;
    transform: translateY(100%);
}
  
.count-enter.count-enter-active {
    transform: translateY(0);
}